* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hyperlinks {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.header a:hover, 
.headline-tabs nav a:hover {
    color: #5624d0!important;
}

.billboard-card a {
    color: #5624d0!important;
}

.billboard-card a:hover {
    color: #380fa2!important;
}

.header, .headline {
    padding: 0 25px 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

img, svg {
    vertical-align: left!important; 
}

#login {
    color: #1c1d1f;
    background-color: transparent!important;
    border: 1px solid #1c1d1f;
    height: 2.5rem;
    padding: 0 1.2rem;
    font-size: 0.85rem;
    font-weight: 700;
}

#signup {
    color: white;
    background-color: #1c1d1f!important;
    border: 1px solid #1c1d1f;
    height: 2.5rem;
    padding: 0 1.2rem;
    font-size: 0.85rem;
    font-weight: 700;
}

#language {
    background-color: transparent!important;
    border: 1px solid #1c1d1f;
    height: 2.5rem;
    width: 1.1rem;
    padding: 0 0.5rem;
    padding-right: 2.0rem;
    font-size: 0.3rem!important;
}

.input-icons {
    width: 480px;
}
  
.icon {
    padding: 0.5em 0.5em 0.8em 0.7em;
    width: 3em;
    position: absolute;
    color: #888a8d;
}
  
.input-field {
    width: 100%;
    padding: 0.9em 0.9em 0.9em 3.5em;
    font-size: 0.9rem;
    border-radius: 2em;
    border: 1px inset #272828;
}

.header-text {
    font-size: 0.85rem;
    padding-right: 1rem;
}

.card-heading {
    font-weight: 800;
    line-height: 2.2rem;
    font-size: 2.2rem;
    font-family: Serif;
    margin-bottom: 1rem;
}

.first-billboard-card {
    height: 12em;
}

.second-billboard-card {
    height: 8em;
}

.billboard-card {
    position: absolute;
    margin-left: 4.5rem;
    margin-top: -20rem;
    z-index: 1;
    background-color: #fff;
    color: #000;
    border: 1px #fff;
    width: 430px;
    padding: 1.2rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2.5rem!important;
    height: 2.5rem!important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40% 40%!important;
    background-color: #000;
    border-radius: 1.5rem; 
}

.carousel-control-next-icon {
    margin-right: -8rem!important;
}

.carousel-control-prev-icon {
    margin-left: -8rem!important;
}

.headline-main-text {
    font-size: 2.2rem;
    font-family: Serif;
    font-weight: 600;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
}

.headline-tabs nav a {
    text-decoration: none!important;
    color: black!important;
}

.headline-tabs {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: -0.8rem!important;
}

.headline p {
    font-size: 1.2rem;

}